flows.json
[{"id":"711e1ba0.8ac024","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"c24a2b14.877ee8","type":"ibmiot in","z":"711e1ba0.8ac024","authentication":"apiKey","apiKey":"7d305ed8.29e7e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NODEMCU1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":640,"y":120,"wires":[["db5dae33.0c732","5ef8f192.cc128","50947b66.92ad04","c143a4c6.aa6df8","552242fe.2b708c","45f1156f.2bc85c","512adb7d.20a104"]]},{"id":"db5dae33.0c732","type":"debug","z":"711e1ba0.8ac024","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":120,"wires":[]},{"id":"5ef8f192.cc128","type":"ui_gauge","z":"711e1ba0.8ac024","name":"","group":"c86ea542.254cf8","order":0,"width":"4","height":"4","gtype":"wave","title":"PRESSURE","label":"Pascal ","format":"{{msg.payload.PRESSURE}}","min":0,"max":"100","colors":["#9daf9d","#2e349e","#cb3a65"],"seg1":"","seg2":"","x":940,"y":260,"wires":[]},{"id":"50947b66.92ad04","type":"ui_gauge","z":"711e1ba0.8ac024","name":"","group":"fa95a4ba.f32918","order":3,"width":"4","height":"4","gtype":"gage","title":"LDR","label":"Luminous intensity - candela (cd)","format":"{{msg.payload.LDR}}","min":0,"max":"100","colors":["#82304c","#00e6b4","#490f09"],"seg1":"","seg2":"","x":930,"y":200,"wires":[]},{"id":"c143a4c6.aa6df8","type":"ui_gauge","z":"711e1ba0.8ac024","name":"","group":"402676a6.2b83c8","order":4,"width":"4","height":"4","gtype":"compass","title":"ULTRASONIC","label":"meters","format":"{{msg.payload.ULTRASONIC}}","min":0,"max":"100","colors":["#922a2c","#9a9a32","#764747"],"seg1":"","seg2":"","x":940,"y":320,"wires":[]},{"id":"552242fe.2b708c","type":"ui_gauge","z":"711e1ba0.8ac024","name":"","group":"402676a6.2b83c8","order":5,"width":"4","height":"4","gtype":"gage","title":"GAS","label":"cubic meters ","format":"{{msg.payload.GAS}}","min":0,"max":"100","colors":["#21d421","#c9c94f","#da6c6c"],"seg1":"","seg2":"","x":930,"y":360,"wires":[]},{"id":"45f1156f.2bc85c","type":"ui_gauge","z":"711e1ba0.8ac024","name":"","group":"402676a6.2b83c8","order":6,"width":"4","height":"4","gtype":"donut","title":"MOTION","label":"meter","format":"{{msg.payload.MOTION}}","min":0,"max":"160","colors":["#af31a5","#00e6d2","#72dd40"],"seg1":"","seg2":"","x":940,"y":400,"wires":[]},{"id":"512adb7d.20a104","type":"cloudant out","z":"711e1ba0.8ac024","name":"","cloudant":"","database":"iotdata5s","service":"node-red-yillu-2020--cloudant-1601472451108-69336","payonly":true,"operation":"insert","x":930,"y":40,"wires":[]},{"id":"7d305ed8.29e7e","type":"ibmiot","z":"","name":"NEW API1","keepalive":"60","serverName":"6863y6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c86ea542.254cf8","type":"ui_group","z":"","name":"PRESSURE","tab":"700081f4.93e6e","order":4,"disp":true,"width":"4","collapse":false},{"id":"fa95a4ba.f32918","type":"ui_group","z":"","name":"LDR","tab":"700081f4.93e6e","order":5,"disp":true,"width":"7","collapse":false},{"id":"402676a6.2b83c8","type":"ui_group","z":"","name":"ULTRASONIC","tab":"700081f4.93e6e","order":1,"disp":true,"width":"5","collapse":false},{"id":"700081f4.93e6e","type":"ui_tab","z":"","name":"HOME","icon":"dashboard","disabled":false,"hidden":false}]